aiohttp==3.5.4
aiohttp-jinja2==1.1.1
aioopenssl==0.4.1
aiosasl==0.4.0
aioxmpp==0.10.3
arrow==0.13.1
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
Babel==2.6.0
cffi==1.12.3
chardet==3.0.4
cryptography==3.2
dnspython==1.16.0
idna==2.8
Jinja2==2.10.1
jinja2-time==0.2.0
lxml==4.3.3
MarkupSafe==1.1.1
multidict==4.4.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.1
singletonify==0.2.3
six==1.12.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
spade==3.1.0
timeago==1.0.8
tzlocal==1.5.1
yarl==1.3.0
